<h1>Users</h1>
 
<table>
  <tfoot>
    <tr>
      <td colspan="3">
       <%= link_to 'New user', new_user_path %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">

       <td class="name">
         <%= user.name %>
        </td>

        <td class="email">
          <%= user.email %>
          </td>

          <td class="phone">
           <%= user.phone %>

          <td class="actions">
           <ul>
             <li><%= link_to 'Show', user %></li>
             <li><%= link_to 'Edit', edit_user_path(user) %></li>
             <li>
              <%= link_to 'Destroy',
                           user,
                           method: :delete,
                           data: { confirm: 'Are you sure?' } %>

              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>